


.my-button{
    padding: 5px 20px ;
    border:0;
    height: 100%;
    max-height: 50px;
    /* border-radius: 10px; */
    transition: 0.5s ;
    font-size: large;
    cursor: pointer;
    background-color: #0000;
    /* border-bottom: 2px solid ; */
    /* color:rgb(208, 208, 208); */
    display: flex;
    justify-content: center;
    color:rgb(122, 121, 121);
    align-items: center;
} 

.my-button:hover{

}

