
.list {
    width: calc( 100% ) ;
    /* max-width: 300px; */
    list-style: none;
    display: flex;
    flex-direction: column;
    background-color: #333;


} 


.list > li{
    background-color: #ffffff;
    /* width: calc(100% - 5px) ; */
    padding: 10px;
    cursor: pointer;
    border-bottom: 2px solid #eeee;
    transition: 0.5s;
    color: rgb(89, 89, 89);
}

.list > .li-selected{
    padding-left: 30px;  
    background-color: rgb(67, 67, 67);
    color:rgb(223, 223, 223);
    border-color: black;
}

.list > .li-selected:hover{
    padding-left: 30px;  
    background-color: rgb(67, 67, 67);
    color:rgb(223, 223, 223);
    border-color: black;
}

.list > li:hover{
    background-color: rgb(209, 209, 209);
    color:rgb(48, 48, 48);
    border-color: black;
}

.list > li > .cont{

    color: inherit;
    display: flex;
    align-items: center;
    user-select: none;
    
}



.list > li > .cont > .icon{
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.list > li > .cont > div.l-content{

    white-space: nowrap; 
    overflow: hidden;
    text-overflow: ellipsis; 
    width: calc( 100% - 40px);

}
